<h1>Projets</h1>
<h2>Professionnels</h2>
<div id="professionnal_projects">
    <div class="project_card">
        <h3 class="project_title">Développement prototype robot mobile</h3>
        <p class="project_description">Développement d'un AMR avec ROS à destination de module de formation de professionnels.</p>
        <section class="project_technologies">
            <p>ROS</p>
            <p>Python</p>
            <p>XML</p>
        </section>
        <p class="project_state">En cours</p>
    </div>
    <div class="project_card">
        <h3 class="project_title">Refonte du site vitrinne LMC2 Lyon</h3>
        <p class="project_description">Refonte complète du site vitrine du LMC2 Lyon avec une nouvelle interface plus moderne et intuitive. Migration de base de donnée SQLite vers MySQL.</p>
        <section class="project_technologies">
            <p>Java</p>
            <p>Python</p>
            <p>PHP</p>
            <p>JS</p>
            <p>Wordpress</p>
            <p>MySQL</p>
        </section>
        <p class="project_state over">Terminé</p>
    </div>
</div>
<h2>Académiques</h2>
<div id="school_projects">
    <div class="project_card">
        <h3 class="project_title"></h3>
        <p class="project_description"></p>
        <section class="project_technologies"></section>
        <p class="project_state"></p>
    </div>
</div>