<h1>Projets</h1>
<h2>Professionnels</h2>
<div id="professionnal_projects">
    <div class="project_card">
        <h3 class="project_title">Développement prototype robot mobile</h3>
        <p class="project_description">
            Développement d'un AMR avec ROS à destination de module de formation de professionnels. Travail tout d'abord en environnement de simulation puis test des développements réalisés sur robot physique.
        </p>
        <section class="project_technologies">
            <p>ROS</p>
            <p>Python</p>
            <p>XML</p>
            <p>Gazebo</p>
        </section>
        <p class="project_state">En cours</p>
    </div>
    <div class="project_card">
        <h3 class="project_title">Refonte du site vitrinne LMC2 Lyon</h3>
        <p class="project_description">Refonte complète du site vitrine du LMC2 Lyon avec une nouvelle interface plus moderne et intuitive. Migration de base de donnée SQLite vers MySQL.</p>
        <section class="project_technologies">
            <p>Java</p>
            <p>Python</p>
            <p>PHP</p>
            <p>JS</p>
            <p>Wordpress</p>
            <p>MySQL</p>
        </section>
        <p class="project_state over">Terminé</p>
    </div>
</div>
<h2>Académiques</h2>
<div id="school_projects">
    <div class="project_card">
        <h3 class="project_title">PLATINE</h3>
        <p class="project_description">
            PLATINE est un ERP destiné à faciliter la gestion du département informatique de l'IUT.
            Il centralise tous les services administratifs (EDT, notes, stages, absences, etc.) afin de fluidifier les flux d'informations. 
            Ce projet fut réalisé par une équipe de 19 personnes.
        </p>
        <section class="project_technologies">
            <p>React</p>
            <p>ExpressJS</p>
            <p>Typescript</p>
            <p>Prisma</p>
            <p>Docker</p>
            <p>Git</p>
        </section>
        <p class="project_state over">Terminé</p>
    </div>
    <div class="project_card">
        <h3 class="project_title">Everlong</h3>
        <p class="project_description">Everlong est un site encyclopédique participatif dédié à la musique. Les utilisateurs peuvent s'incrire sur le site pour contribuer à l'alimenter. Les activités sont régulées par une équipe d'administrateurs et de modérateurs disposant d'interfaces de gestion adaptées.</p>
        <section class="project_technologies">
            <p>PHP</p>
            <p>JS</p>
            <p>Git</p>
            <p>CSS</p>
        </section>
        <p class="project_state over">Terminé</p>
    </div>
    <div class="project_card">
        <h3 class="project_title"></h3>
        <p class="project_description"></p>
        <section class="project_technologies"></section>
        <p class="project_state"></p>
    </div>
</div>