app-page-not-found{
    height: 100%;
    padding-left: 5%;
    display: grid;
    grid-template-columns: 30% 70%;
    align-content: center;
}

app-page-not-found img{
    height:50%;
    width:auto;
    align-self: center;
    justify-self: right;
}

app-page-not-found div{
    align-self: center;
}

app-page-not-found a{
    color:white;
    background-color: #459bd5;
    padding: 10px;
    border-radius: 5vw;
    text-decoration: none;
}

app-page-not-found a:hover{
    background-color: black;
    font-weight: bolder;
    font-size:larger;
}