<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="C1">
    <h2>Compétence 1 : Réaliser un développement d'application</h2>
    <h3>Apprentissages critiques</h3>
    <p>Niveau 1</p>
    <ul>
      <li>Implémenter des conceptions simples</li>
      <li>Élaborer des conceptions simples</li>
      <li>Faire des essais et évaluer leurs résultats en regard des spécifications</li>
      <li>Développer des interfaces utilisateurs</li>
    </ul>
    <p>Niveau 2</p>
    <ul>
      <li>Élaborer et implémenter les spécifications fonctionnelles et non fonctionnelles à partir des exigences</li>
      <li>Appliquer des principes d’accessibilité et d’ergonomie</li>
      <li>Adopter de bonnes pratiques de conception et de programmation</li>
      <li>Utiliser des patrons de conception pour le développement d’applications cohérentes</li>
      <li>Adapter les solutions existantes au contexte applicatif</li>
      <li>Vérifier et valider la qualité de l’application par les tests</li>
    </ul>
    <p>Niveau 3</p>
    <ul>
      <li>Choisir et implémenter les architectures adaptées</li>
      <li>Développer des applications sur des supports spécifiques</li>
      <li>Réaliser un audit d’une application</li>
      <li>Intégrer des solutions dans un environnement de production</li>
    </ul>
    <h3>Projets mettant en pratique les apprentissages</h3>
    <div class="projets">
      <div class="project_card">
        <h4 class="project_title">Développement prototype robot mobile</h4>
        <p class="project_description">Développement d'un AMR avec ROS à destination de module de formation de professionnels. Travail tout d'abord en environnement de simulation puis test des développements réalisés sur robot physique.</p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>ROS</p>
            <p>Python</p>
            <p>XML</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 3</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">PLATINE</h4>
        <p class="project_description">
            PLATINE est un ERP destiné à faciliter la gestion du département informatique de l'IUT.
            Il centralise tous les services administratifs (EDT, notes, stages, absences, etc.) afin de fluidifier les flux d'informations. 
            Ce projet fut réalisé par une équipe de 19 personnes.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>React</p>
            <p>ExpressJS</p>
            <p>Typescript</p>
            <p>Prisma</p>
            <p>Docker</p>
            <p>Git</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 3</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Refonte du site vitrinne LMC2 Lyon</h4>
        <p class="project_description">Refonte complète du site vitrine du LMC2 Lyon avec une nouvelle interface plus moderne et intuitive. Migration de base de donnée SQLite vers MySQL.</p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>Java</p>
            <p>Python</p>
            <p>PHP</p>
            <p>JS</p>
            <p>Wordpress</p>
            <p>MySQL</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Everlong</h4>
        <p class="project_description">Everlong est un site encyclopédique participatif dédié à la musique. Les utilisateurs peuvent s'incrire sur le site pour contribuer à l'alimenter. Les activités sont régulées par une équipe d'administrateurs et de modérateurs disposant d'interfaces de gestion adaptées.</p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>PHP</p>
            <p>JS</p>
            <p>Git</p>
            <p>CSS</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">DocDocGo</h4>
        <p class="project_description">
            L'objectif du projet est de développer une application Java pour une organisation souhaitant relier ses dispensaires de santé dans une zone géographique sans réelles infrastructures logistiques.
            L'application permet de déterminer le chemin le plus court entre deux dispensaires : elle peut donner d'autres informations (voisins d'un dispensaire à 1 ou 2 niveaux, quel dispensaire est le plus connecté à d'autres dispensaires d'un certain type...) à l'aide d'une interface graphique.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>Java</p>
            <p>Git</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 1</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Annuaire</h4>
        <p class="project_description">
            Une entreprise souhaite gérer les données de ses clients. Elle souhaite disposer d'une application type CRUD lui permettant de charger son annuaire de clients au format CSV, et d'y apporter des modifications.
            L'application d'annuaire a été développée en langage C et permet de charger, afficher et modifier les données du fichier csv grâce à une interface en ligne de commande.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>C</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 1</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>


  <mat-tab label="C2">
    <h2>Compétence 2 : Optimiser des applications informatiques</h2>
    <h3>Apprentissages critiques</h3>
    <p>Niveau 1</p>
    <ul>
      <li>Analyser un problème avec méthode (découpage en éléments algorithmiques simples, structure de données...)</li>
      <li>Comparer des algorithmes pour des problèmes classiques (tris simples, recherche...)</li>
      <li>Expérimenter la notion de compilation et les représentations bas niveau des données</li>
      <li>Formaliser et mettre en œuvre des outils mathématiques pour l’informatique</li>
    </ul>
    <p>Niveau 2</p>
    <ul>
      <li>Choisir des structures de données complexes adaptées au problème</li>
      <li>Utiliser des techniques algorithmiques adaptées pour des problèmes complexes (par ex. recherche opérationnelle, méthodes arborescentes, optimisation globale, intelligence artificielle...)</li>
      <li>Appréhender la différence entre les paradigmes de programmation</li>
      <li>Comprendre les enjeux et moyens de sécurisation des données et du code</li>
      <li>Évaluer l’impact environnemental et sociétal des solutions proposées</li>
    </ul>
    <p>Niveau 3</p>
    <ul>
      <li>Anticiper les résultats de diverses métriques (temps d’exécution, occupation mémoire...)</li>
      <li>Profiler et analyser le comportement d’un code existant</li>
      <li>Appliquer des méthodes de calcul scientifique (imagerie, immersion, intelligence artificielle, jeux vidéos, parallélisme, calcul formel...)</li>
      <li>Identifier les solutions techniques pour gérer la montée en charge des applications</li>
    </ul>
    <h3>Projets mettant en pratique les apprentissages</h3>
    <div class="projets">
      <div class="project_card">
        <h4 class="project_title">Développement prototype robot mobile</h4>
        <p class="project_description">Développement d'un AMR avec ROS à destination de module de formation de professionnels. Travail tout d'abord en environnement de simulation puis test des développements réalisés sur robot physique.</p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>ROS</p>
            <p>Python</p>
            <p>XML</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 3</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">PLATINE</h4>
        <p class="project_description">
            PLATINE est un ERP destiné à faciliter la gestion du département informatique de l'IUT.
            Il centralise tous les services administratifs (EDT, notes, stages, absences, etc.) afin de fluidifier les flux d'informations. 
            Ce projet fut réalisé par une équipe de 19 personnes.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>React</p>
            <p>ExpressJS</p>
            <p>Typescript</p>
            <p>Prisma</p>
            <p>Docker</p>
            <p>Git</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 3</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Refonte du site vitrinne LMC2 Lyon</h4>
        <p class="project_description">Refonte complète du site vitrine du LMC2 Lyon avec une nouvelle interface plus moderne et intuitive. Migration de base de donnée SQLite vers MySQL.</p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>Java</p>
            <p>Python</p>
            <p>PHP</p>
            <p>JS</p>
            <p>Wordpress</p>
            <p>MySQL</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Everlong</h4>
        <p class="project_description">Everlong est un site encyclopédique participatif dédié à la musique. Les utilisateurs peuvent s'incrire sur le site pour contribuer à l'alimenter. Les activités sont régulées par une équipe d'administrateurs et de modérateurs disposant d'interfaces de gestion adaptées.</p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>PHP</p>
            <p>JS</p>
            <p>Git</p>
            <p>CSS</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">DocDocGo</h4>
        <p class="project_description">
            L'objectif du projet est de développer une application Java pour une organisation souhaitant relier ses dispensaires de santé dans une zone géographique sans réelles infrastructures logistiques.
            L'application permet de déterminer le chemin le plus court entre deux dispensaires : elle peut donner d'autres informations (voisins d'un dispensaire à 1 ou 2 niveaux, quel dispensaire est le plus connecté à d'autres dispensaires d'un certain type...) à l'aide d'une interface graphique.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>Java</p>
            <p>Git</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 1</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Annuaire</h4>
        <p class="project_description">
            Une entreprise souhaite gérer les données de ses clients. Elle souhaite disposer d'une application type CRUD lui permettant de charger son annuaire de clients au format CSV, et d'y apporter des modifications.
            L'application d'annuaire a été développée en langage C et permet de charger, afficher et modifier les données du fichier csv grâce à une interface en ligne de commande.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>C</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 1</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>


  <mat-tab label="C3">
    <h2>Compétence 3 : Administrer des systèmes informatiques communicants complexes</h2>
    <h3>Apprentissages critiques</h3>
    <p>Niveau 1</p>
    <ul>
      <li>Identifier les différents composants (matériels et logiciels) d’un système numérique</li>
      <li>Utiliser les fonctionnalités de base d’un système multitâches / multiutilisateurs</li>
      <li>Installer et configurer un système d’exploitation et des outils de développement</li>
      <li>Configurer un poste de travail dans un réseau d’entreprise</li>
    </ul>
    <p>Niveau 2</p>
    <ul>
      <li>Concevoir et développer des applications communicantes</li>
      <li>Utiliser des serveurs et des services réseaux virtualisés</li>
      <li>Sécuriser les services et données d’un système</li>
      <li>Rédiger une documentation technique (en français et en anglais)</li>
    </ul>
    <h3>Projets mettant en pratique les apprentissages</h3>
    <div class="projets">
      <div class="project_card">
        <h4 class="project_title">Développement prototype robot mobile</h4>
        <p class="project_description">Développement d'un AMR avec ROS à destination de module de formation de professionnels. Travail tout d'abord en environnement de simulation puis test des développements réalisés sur robot physique.</p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>ROS</p>
            <p>Python</p>
            <p>XML</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">PLATINE</h4>
        <p class="project_description">
            PLATINE est un ERP destiné à faciliter la gestion du département informatique de l'IUT.
            Il centralise tous les services administratifs (EDT, notes, stages, absences, etc.) afin de fluidifier les flux d'informations. 
            Ce projet fut réalisé par une équipe de 19 personnes.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>React</p>
            <p>ExpressJS</p>
            <p>Typescript</p>
            <p>Prisma</p>
            <p>Docker</p>
            <p>Git</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Déploiement Ansible</h4>
        <p class="project_description">
            L'objectif de ce projet était le déploiement automatisé,grâce à Ansible, sur des machines distinctes d'un site utilisant un CMS (ici Wordpress) et de sa base de donnée.
            Le site est hébergé par un serveur Nginx et appelle une base de donnée MySQL.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>Ansible</p>
            <p>Wordpress</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Everlong</h4>
        <p class="project_description">Everlong est un site encyclopédique participatif dédié à la musique. Les utilisateurs peuvent s'incrire sur le site pour contribuer à l'alimenter. Les activités sont régulées par une équipe d'administrateurs et de modérateurs disposant d'interfaces de gestion adaptées.</p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>PHP</p>
            <p>JS</p>
            <p>Git</p>
            <p>CSS</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>


  <mat-tab label="C4">
    <h2>Compétence 4 : Gérer des données de l’information</h2>
    <h3>Apprentissages critiques</h3>
    <p>Niveau 1</p>
    <ul>
      <li>Mettre à jour et interroger une base de données relationnelle (en requêtes directes ou à travers une application)</li>
      <li>Visualiser des données</li>
      <li>Concevoir une base de données relationnelle à partir d'un cahier des charges</li>
    </ul>
    <p>Niveau 2</p>
    <ul>
      <li>Optimiser les modèles de données de l’entreprise</li>
      <li>Assurer la confidentialité des données (intégrité et sécurité)</li>
      <li>Organiser la restitution de données à travers la programmation et la visualisation</li>
      <li>Manipuler des données hétérogènes</li>
    </ul>
    <h3>Projets mettant en pratique les apprentissages</h3>
    <div class="projets">
      <div class="project_card">
        <h4 class="project_title">PLATINE</h4>
        <p class="project_description">
            PLATINE est un ERP destiné à faciliter la gestion du département informatique de l'IUT.
            Il centralise tous les services administratifs (EDT, notes, stages, absences, etc.) afin de fluidifier les flux d'informations. 
            Ce projet fut réalisé par une équipe de 19 personnes.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>React</p>
            <p>ExpressJS</p>
            <p>Typescript</p>
            <p>Prisma</p>
            <p>Docker</p>
            <p>Git</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Déploiement Ansible</h4>
        <p class="project_description">
            L'objectif de ce projet était le déploiement automatisé,grâce à Ansible, sur des machines distinctes d'un site utilisant un CMS (ici Wordpress) et de sa base de donnée.
            Le site est hébergé par un serveur Nginx et appelle une base de donnée MySQL.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>Ansible</p>
            <p>Wordpress</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Refonte du site vitrinne LMC2 Lyon</h4>
        <p class="project_description">Refonte complète du site vitrine du LMC2 Lyon avec une nouvelle interface plus moderne et intuitive. Migration de base de donnée SQLite vers MySQL.</p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>Java</p>
            <p>Python</p>
            <p>PHP</p>
            <p>JS</p>
            <p>Wordpress</p>
            <p>MySQL</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Everlong</h4>
        <p class="project_description">Everlong est un site encyclopédique participatif dédié à la musique. Les utilisateurs peuvent s'incrire sur le site pour contribuer à l'alimenter. Les activités sont régulées par une équipe d'administrateurs et de modérateurs disposant d'interfaces de gestion adaptées.</p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>PHP</p>
            <p>JS</p>
            <p>Git</p>
            <p>CSS</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">DocDocGo</h4>
        <p class="project_description">
            L'objectif du projet est de développer une application Java pour une organisation souhaitant relier ses dispensaires de santé dans une zone géographique sans réelles infrastructures logistiques.
            L'application permet de déterminer le chemin le plus court entre deux dispensaires : elle peut donner d'autres informations (voisins d'un dispensaire à 1 ou 2 niveaux, quel dispensaire est le plus connecté à d'autres dispensaires d'un certain type...) à l'aide d'une interface graphique.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>Java</p>
            <p>Git</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 1</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Annuaire</h4>
        <p class="project_description">
            Une entreprise souhaite gérer les données de ses clients. Elle souhaite disposer d'une application type CRUD lui permettant de charger son annuaire de clients au format CSV, et d'y apporter des modifications.
            L'application d'annuaire a été développée en langage C et permet de charger, afficher et modifier les données du fichier csv grâce à une interface en ligne de commande.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>C</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 1</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>


  <mat-tab label="C5">
    <h2>Compétence 5 : Conduire un projet</h2>
    <h3>Apprentissages critiques</h3>
    <p>Niveau 1</p>
    <ul>
      <li>Appréhender les besoins du client et de l'utilisateur</li>
      <li>Mettre en place les outils de gestion de projet</li>
      <li>Identifier les acteurs et les différentes phases d'un cycle de développement</li>
    </ul>
    <p>Niveau 2</p>
    <ul>
      <li>Identifier les processus présents dans une organisation en vue d’améliorer les systèmes d’information</li>
      <li>Formaliser les besoins du client et de l'utilisateur</li>
      <li>Identifier les critères de faisabilité d’un projet informatique</li>
      <li>Définir et mettre en œuvre une démarche de suivi de projet</li>
    </ul>
    <h3>Projets mettant en pratique les apprentissages</h3>
    <div class="projets">
      <div class="project_card">
        <h4 class="project_title">Développement prototype robot mobile</h4>
        <p class="project_description">Développement d'un AMR avec ROS à destination de module de formation de professionnels. Travail tout d'abord en environnement de simulation puis test des développements réalisés sur robot physique.</p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>ROS</p>
            <p>Python</p>
            <p>XML</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">PLATINE</h4>
        <p class="project_description">
            PLATINE est un ERP destiné à faciliter la gestion du département informatique de l'IUT.
            Il centralise tous les services administratifs (EDT, notes, stages, absences, etc.) afin de fluidifier les flux d'informations. 
            Ce projet fut réalisé par une équipe de 19 personnes.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>React</p>
            <p>ExpressJS</p>
            <p>Typescript</p>
            <p>Prisma</p>
            <p>Docker</p>
            <p>Git</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Refonte du site vitrinne LMC2 Lyon</h4>
        <p class="project_description">Refonte complète du site vitrine du LMC2 Lyon avec une nouvelle interface plus moderne et intuitive. Migration de base de donnée SQLite vers MySQL.</p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>Java</p>
            <p>Python</p>
            <p>PHP</p>
            <p>JS</p>
            <p>Wordpress</p>
            <p>MySQL</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Everlong</h4>
        <p class="project_description">Everlong est un site encyclopédique participatif dédié à la musique. Les utilisateurs peuvent s'incrire sur le site pour contribuer à l'alimenter. Les activités sont régulées par une équipe d'administrateurs et de modérateurs disposant d'interfaces de gestion adaptées.</p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>PHP</p>
            <p>JS</p>
            <p>Git</p>
            <p>CSS</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">DocDocGo</h4>
        <p class="project_description">
            L'objectif du projet est de développer une application Java pour une organisation souhaitant relier ses dispensaires de santé dans une zone géographique sans réelles infrastructures logistiques.
            L'application permet de déterminer le chemin le plus court entre deux dispensaires : elle peut donner d'autres informations (voisins d'un dispensaire à 1 ou 2 niveaux, quel dispensaire est le plus connecté à d'autres dispensaires d'un certain type...) à l'aide d'une interface graphique.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>Java</p>
            <p>Git</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 1</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>


  <mat-tab label="C6">
    <h2>Compétence 6 : Travailler dans une équipe informatique</h2>
    <h3>Apprentissages critiques</h3>
    <p>Niveau 1</p>
    <ul>
      <li>Appréhender l’écosystème numérique</li>
      <li>Découvrir les aptitudes requises selon les différents secteurs informatiques</li>
      <li>Identifier les statuts, les fonctions et les rôles de chaque membre d’une équipe pluridisciplinaire</li>
      <li>Acquérir les compétences interpersonnelles pour travailler en équipe</li>
    </ul>
    <p>Niveau 2</p>
    <ul>
      <li>Comprendre la diversité, la structure et la dimension de l’informatique dans une organisation (ESN, DSI,...)</li>
      <li>Appliquer une démarche pour intégrer une équipe informatique au sein d’une organisation</li>
      <li>Mobiliser les compétences interpersonnelles pour travailler dans une équipe informatique</li>
      <li>Rendre compte de son activité professionnelle</li>
    </ul>
    <p>Niveau 3</p>
    <ul>
      <li>Organiser et partager une veille technologique et informationnelle</li>
      <li>Identifier les enjeux de l’économie de l’innovation</li>
      <li>Guider la conduite du changement informatique au sein d’une organisation</li>
    </ul>
    <h3>Projets mettant en pratique les apprentissages</h3>
    <div class="projets">
      <div class="project_card">
        <h4 class="project_title">Développement prototype robot mobile</h4>
        <p class="project_description">Développement d'un AMR avec ROS à destination de module de formation de professionnels. Travail tout d'abord en environnement de simulation puis test des développements réalisés sur robot physique.</p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>ROS</p>
            <p>Python</p>
            <p>XML</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 3</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">PLATINE</h4>
        <p class="project_description">
            PLATINE est un ERP destiné à faciliter la gestion du département informatique de l'IUT.
            Il centralise tous les services administratifs (EDT, notes, stages, absences, etc.) afin de fluidifier les flux d'informations. 
            Ce projet fut réalisé par une équipe de 19 personnes.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>React</p>
            <p>ExpressJS</p>
            <p>Typescript</p>
            <p>Prisma</p>
            <p>Docker</p>
            <p>Git</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 3</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Déploiement Ansible</h4>
        <p class="project_description">
            L'objectif de ce projet était le déploiement automatisé,grâce à Ansible, sur des machines distinctes d'un site utilisant un CMS (ici Wordpress) et de sa base de donnée.
            Le site est hébergé par un serveur Nginx et appelle une base de donnée MySQL.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>Ansible</p>
            <p>Wordpress</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 3</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Refonte du site vitrinne LMC2 Lyon</h4>
        <p class="project_description">Refonte complète du site vitrine du LMC2 Lyon avec une nouvelle interface plus moderne et intuitive. Migration de base de donnée SQLite vers MySQL.</p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>Java</p>
            <p>Python</p>
            <p>PHP</p>
            <p>JS</p>
            <p>Wordpress</p>
            <p>MySQL</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Everlong</h4>
        <p class="project_description">Everlong est un site encyclopédique participatif dédié à la musique. Les utilisateurs peuvent s'incrire sur le site pour contribuer à l'alimenter. Les activités sont régulées par une équipe d'administrateurs et de modérateurs disposant d'interfaces de gestion adaptées.</p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>PHP</p>
            <p>JS</p>
            <p>Git</p>
            <p>CSS</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 2</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">DocDocGo</h4>
        <p class="project_description">
            L'objectif du projet est de développer une application Java pour une organisation souhaitant relier ses dispensaires de santé dans une zone géographique sans réelles infrastructures logistiques.
            L'application permet de déterminer le chemin le plus court entre deux dispensaires : elle peut donner d'autres informations (voisins d'un dispensaire à 1 ou 2 niveaux, quel dispensaire est le plus connecté à d'autres dispensaires d'un certain type...) à l'aide d'une interface graphique.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>Java</p>
            <p>Git</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 1</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="project_card">
        <h4 class="project_title">Annuaire</h4>
        <p class="project_description">
            Une entreprise souhaite gérer les données de ses clients. Elle souhaite disposer d'une application type CRUD lui permettant de charger son annuaire de clients au format CSV, et d'y apporter des modifications.
            L'application d'annuaire a été développée en langage C et permet de charger, afficher et modifier les données du fichier csv grâce à une interface en ligne de commande.
        </p>
        <h5>Technologies utilisées</h5>
        <section class="project_technologies">
            <p>C</p>
        </section>
        <div class="skill_mastery">
          <p>Niveau de la compétence</p>
          <span>Niveau 1</span>
          <p>Maîtrise de la compétence</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>